.feed-item {
  background-color: rgb(67, 35, 94);
  color: white;
  margin: 0;
}

.feed {
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.text-content {
  font-size: x-large;
  color: white;
}

.name,
.date {
  color: rgb(180, 153, 224);
}
